/* Disclaimer: This is not an example of excellent CSS */

html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  margin: 10px;
}

* {
  scrollbar-width: thin;
}


body {
  flex-direction: column;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  border: gray 2px solid;
}

img.selected {
  border: gray 4px solid;
}

.multi-node img {
  border: orange 2px solid;
}

.multi-node img.selected {
  border: orange 4px solid;
}

.viewer-container {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.viewer-container img{
  height: 400px;
}
.history-container {
  padding: 20px;
  border: 2px solid black;
  cursor: pointer;
  width: 60%;
  overflow-x: scroll;
  height: 150px;
  overflow-y: hidden;
  white-space: nowrap;
}
.history-container > * {
  margin: 0px 10px;
}
.history-container img{
  width: 190px;
  height: 100px;
  vertical-align: top;
}
.history-container img:hover {
  border: gray 4px solid;
}

.history-container .multi-node-container {
  display: inline-block;
  position: relative;
  width: 190px;
  height: 100px;
  vertical-align: top;
}

.history-container .multi-node {
 
}

.history-container .multi-node-size {
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-radius: 10px;
  padding: 6px;
  color: white;
  background-color: orange;
}

.history-container .multi-node img:hover {
  border: orange 4px solid;
}

.popover {
  z-index: 100000;
}
